/** General CSS **/

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-family: 'Questrial', sans-serif;
}

h2, h3 {
  font-weight: 400;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

#container {
  display: flex;
}

.countries {
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

.countries ul {
  padding: 0;
}

.countries li {
  text-align: center;
  border: 1px solid black;
  padding: 20 0px;
}

.loading-elements {
  width: 75%
}

.loading-elements li {
  display: block;
}

.loading-elements-list li:not(.active) {
  display: none;
}

.arrow {
  display: block;
  padding: 0;
  margin: 0;
  width: 20px;
}

@keyframes loadinganim {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/** Netflix **/
/* Pen by Albert Augustin: https://codepen.io/alberta/pen/qZbpgv, @alberta */

#wrapper {
  background: #141414;
  min-height: 300px;
  color: white;
  text-align: center;
  display: table;
  width: 100%;
}

#loading {
  display: table-cell;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  vertical-align: middle;
  font-family: helvetica, sans-serif;
}

.bulletouter {
  animation: loadinganim 1s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  width: 50px;
  height: 50px;
  background: #E50914;
  border-radius: 50%;
  margin: 0 auto;
}

.bulletinner {
  position: relative;
  left: -5px;
  width: 45px;
  height: 45px;
  background: #141414;
  border-radius: 50%;
  margin: 0 auto;
}

.mask {
  position: relative;
  left: -5px;
  top: -15px;
  width: 50px;
  height: 25px;
  background: #141414;
  transform: rotate(45deg);
}

.dot {
  position: relative;
  left: 33px;
  top: -32px;
  width: 8px;
  height: 8px;
  background: #E50914;
  border-radius: 50%;
}


/** -------------------- */
/** Jose Manuel Perez, @jmperez **/
.img-blur {
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(25px);
}

/** Google loader --> https://codepen.io/jczimm/pen/vEBpoL by @jczimm **/

.loader {
  position: relative;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

/** Manoz, https://codepen.io/Manoz/pen/pydxK @Manoz **/

.

/** Linkedin Content Placeholder @fahimshani https://codepen.io/fahimshani/pen/zZmGBa **/

@keyframes pulse {
  0%{opacity:.5}100%{opacity:1}
}
.post-feed {
    margin-bottom: 12px;
    padding: 16px 16px 42px;
    border-radius: 4px;
    width: 530px;
    margin: 10px auto 20px;
    background: #E1E9EE;
}

.width500 {
    width: 500px;
}

.width470 {
    width: 470px;
}

.width110 {
    width: 110px;
}

.width250 {
    width: 250px;
}

.line {
    height: 10px;
    margin: 10px 0;
}

.circle, .line,  .rect {
    background: #fff;
    -webkit-animation: pulse .65s infinite alternate;
    animation: pulse .65s infinite alternate;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
}

.line-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.height20 {
    height: 20px;
}

/** Instagram Load **/

body {
  background-color: #fbfbfb;
}
.loader-2 {
  margin: 100px auto;
  height: 120px;
  width: 120px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;
  perspective-origin: 60px 60px;
  transform-origin: 60px 60px;
  border: 0px solid #000000;
  flex: 0 0 auto;
  flex-flow: column nowrap;
}
.loader-2:after,
.loader-2:before {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}
.loader-2:after {
  -webkit-animation: rotate 2s infinite ease;
  animation: rotate 2s infinite ease;
  border-color: #3897f0 transparent transparent;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}
.loader-2:before {
  border-color: #c7c7c7;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
