/** General CSS **/
/* E1EBF9 and #FBD6E8 */
 /*#CFE9FA  #F4DCE9*/
 /*#bbe5f0 FFDFE2 A0C5FF
 FCC9C9 #bbe5f0 
 #D5E9EF 6DC4DC*/

body {
  font-family: 'Questrial', sans-serif;
  font-weight: 300;
  margin: 0;
  border: 20px solid #E1EBF9;
  max-height: 95vh;
}

h1 {
  font-family: 'Dosis', sans-serif;
  padding: 0 20px;
  margin: 0;
  color: black;
  font-size: 40px;
}

h2, h3, h4 {
  font-family: 'Montserrat';
  font-weight: 400;
}

h2 {
  padding: 0 20px;
}

h2, h3 {
  font-size: 22px;
}

button {
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid #FBD6E8;
}

a:hover {
  transition: background-color 0.3s ease;
  background: #E1EBF9;
  opacity: 0.8;
}

.active-button:after { 
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: transparent url(../images/circle.svg) no-repeat;
}

#container {
  display: flex;
}

.countries {
  width: 15%;
  max-height: 90%;
  overflow-y: scroll;
}

.countries ul {
  padding: 0;
}

.countries li {
  border-bottom: 1px solid #E1EBF9;
  padding: 20 0px;
  display: flex;
}

.countries li > button {
  padding: 0 20px;
  font-size: 16px;
}

.loading-elements {
  width: 90%;
  height: 90%;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.loading-elements > li {
  display: block;
}

.loading-elements-list {
  width: 100%;
  overflow-y: scroll;
  padding: 0;
}

.loading-elements-list > li:not(.active), .hide {
  display: none;
}

.loaded, .loading, .intro {
  width: 95%;
  margin: 0 auto;
}

.loading > img, .loaded > img {
  width: 100%;
  height: 80%;
}

.arrow {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.reset, .play {
  width: 28px;
}

.intro img {
  padding-left: 40px;
  width: 480px;
  position: relative;
}

.intro .text {
  font-size: 18px;
  line-height: 30px;
  max-width: 500px;
  float: left;
}

.notes > li {
  font-size: 16px;
  list-style-image: url(../images/circle.svg);
}

.controls {
  width: 200px;
  height: 40px;
  display: inline;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  right: 20px;
}

.controls > li {
  display: inline;
  padding: 5px;
}

.creator {
  position: absolute;
  padding-top: 20px;
}

@keyframes loadinganim {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/** -------------------- -------------------- -------------------- -------------------- -------------------- -------------------- */
/** Netflix **/
/* Pen by Albert Augustin: https://codepen.io/alberta/pen/qZbpgv, @alberta */

#wrapper {
  background: #141414;
  min-height: 300px;
  color: white;
  text-align: center;
  display: table;
  width: 100%;
  height: 80%;
}

#loading {
  display: table-cell;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  vertical-align: middle;
  font-family: helvetica, sans-serif;
}

.bulletouter {
  animation: loadinganim 1s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  width: 50px;
  height: 50px;
  background: #E50914;
  border-radius: 50%;
  margin: 0 auto;
}

.bulletinner {
  position: relative;
  left: -5px;
  width: 45px;
  height: 45px;
  background: #141414;
  border-radius: 50%;
  margin: 0 auto;
}

.mask {
  position: relative;
  left: -5px;
  top: -15px;
  width: 50px;
  height: 25px;
  background: #141414;
  transform: rotate(45deg);
}

.dot {
  position: relative;
  left: 33px;
  top: -32px;
  width: 8px;
  height: 8px;
  background: #E50914;
  border-radius: 50%;
}


/** Google loader --> https://codepen.io/jczimm/pen/vEBpoL by @jczimm **/

.loader {
  position: relative;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

/** Manoz, https://codepen.io/Manoz/pen/pydxK @Manoz **/

.

/** Linkedin Content Placeholder @fahimshani https://codepen.io/fahimshani/pen/zZmGBa **/

@keyframes pulse {
  0%{opacity:.5}100%{opacity:1}
}
.post-feed {
    margin-bottom: 12px;
    padding: 16px 16px 42px;
    border-radius: 4px;
    width: 530px;
    margin: 10px auto 20px;
    background: #E1E9EE;
}

.width500 {
    width: 500px;
}

.width470 {
    width: 470px;
}

.width110 {
    width: 110px;
}

.width250 {
    width: 250px;
}

.line {
    height: 10px;
    margin: 10px 0;
}

.circle, .line,  .rect {
    background: #fff;
    -webkit-animation: pulse .65s infinite alternate;
    animation: pulse .65s infinite alternate;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
}

.line-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.height20 {
    height: 20px;
}

/** Instagram Load **/

.loader-2 {
  margin: 100px auto;
  height: 120px;
  width: 120px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;
  perspective-origin: 60px 60px;
  transform-origin: 60px 60px;
  border: 0px solid #000000;
  flex: 0 0 auto;
  flex-flow: column nowrap;
}
.loader-2:after,
.loader-2:before {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}
.loader-2:after {
  -webkit-animation: rotate 2s infinite ease;
  animation: rotate 2s infinite ease;
  border-color: #3897f0 transparent transparent;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}
.loader-2:before {
  border-color: #c7c7c7;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



 aside {
  margin: 10px; auto;
  text-align: center;
  width: 256px;
  height: 256px;
  background: rgba(233, 45, 65, 0.6);
  position: relative;
}

